# Dependências do Node.js
node_modules/

# Arquivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de ambiente
.env
.env.local
.env.*.local

# Build e dist
dist/
build/
tmp/
temp/

# Sistema de IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Sistema operacional
.DS_Store
Thumbs.db
*.bak

# Outros
*.tgz
*.gz
*.zip
*.tar
*.rar
*.7z
*.swp

# Arquivos de cache
.cache/
.pnp.*
